.main {
	background-color: #f2f2f2;
}

.innerMain {
	max-width: 800px;
	height: 86.5vh;
	margin: auto;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.questionText {
	height: 45vh;
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.answerText {
	height: 28vh;
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	font-size: 1.3rem;
	padding: 1rem;
	line-height: 2rem;
}

.reference {
	font-size: 1rem;
}

.reference a {
	text-decoration: none;
	color: black;
}

.reference a:hover {
	border-bottom: 2px solid #4173ca;
}

.utils {
	height: 6vh;
	background-color: white;
	border-radius: 10px;
}
