.main {
	background-color: #f2f2f2;
}

.innerMain {
	max-width: 800px;
	height: 86.5vh;
	margin: auto;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.questionText {
	height: 45vh;
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
}

.button {
	border: none;
	background-color: white;
}

.button:hover {
	cursor: pointer;
}

.disabledButton {
	border: none;
	background-color: white;
}

.back,
.next {
	width: 1.5rem;
}

.answerText {
	height: 28vh;
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	font-size: 1.3rem;
	padding: 1rem;
}

.reference p {
	font-size: 1rem;
}

@media screen and (max-width: 600px) {
	.questionText {
		font-size: 1.5rem;
	}
	.back,
	.next {
		width: 1rem;
	}
	.answerText {
		font-size: 1rem;
	}
	.reference p {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 400px) {
	.questionText {
		font-size: 1.2rem;
	}
	.answerText {
		font-size: 0.8rem;
	}
	.reference p {
		font-size: 0.5rem;
	}
}

@media screen and (max-height: 700px) {
	.answerText {
		font-size: 1rem;
	}
	.reference {
		font-size: 0.9rem;
	}
}

.reference {
	font-size: 1rem;
}

.reference a {
	text-decoration: none;
	color: black;
}

.reference a:hover {
	border-bottom: 2px solid #4173ca;
}

.utils {
	height: 6vh;
	background-color: white;
	border-radius: 10px;
}
