.button {
	border: none;
	background-color: white;
}

.button:hover {
	cursor: pointer;
}

.dropdown {
	width: 0.6rem;
}

.list {
	position: absolute;
	top: 2rem;
	left: 9.9rem;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
	font-size: 0.8rem;
	border-radius: 10px;
	padding: 1rem;
}
