.menu {
	position: relative;
}

.button {
	border: none;
	background-color: white;
}

.button:hover {
	cursor: pointer;
}

.dropdown {
	width: 0.6rem;
}

.list {
	position: absolute;
	list-style: none;
	line-height: 1.5rem;
	font-size: 0.8rem;
	border-radius: 5px;
	padding: 1rem;
	background-color: white;
}
